@import "styles/variables.scss";
@import "styles/mixin.scss";
$mainHeight: 900px;
$innerHeight: 527px;
$bgActive: #f4f4f4;

@include devices(spc) {
  $roundBoxWidth: 160px;
}
.feature {
  position: relative;
  font-family: $fontFamily;
  background-image: url("/images/feature/bg.jpg");
  background-size: 98vw;
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  width: 80%;
  height: $mainHeight;
  margin: 0px auto 80px;
  // border: 1px solid black;
  @include devices(medium) {
    margin-top: 80px;
  }
  @include devices(spc) {
    width: 98%;
    margin-top: 80px;
  }
  @include devices(tablet) {
    // border: 1px solid red;
    background-image: url("/images/feature/spbg.jpg");
    background-size: 98vw;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    width: 98%;
    min-height: 1050px;
  }
  .innerBg {
    position: relative;
    width: 90%;
    height: $innerHeight;
    top: 130px;
    background-image: url("/images/feature/innerbg.svg");
    background-size: 98vw;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    // border: 1px solid green;
    @include devices(spc) {
      width: 72%;
    }
    @include devices(tablet) {
      top: 100px;
      left: 5px;
      width: calc(100% - 10px);
      margin: 50px 0;
      height: 800px;
      background: $bgPrimary;
      border-radius: 40px;
    }
    .leftTop {
      opacity: 0;
      position: absolute;
      left: 16%;
      top: 20px;
      height: 200px;
      width: 200px;
      @include devices(medium) {
        left: 2%;
        top: 0;
      }
      @include devices(spc) {
        left: 0%;
        top: 0;
      }

      .leftTopContent {
        text-align: center;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        position: absolute;
        color: white;
        font-size: 20px;
        background: #01382c;
        width: 180px;
        height: 180px;
        border-radius: 20px;
        right: 0px;
        bottom: 0px;

        @include devices(spc) {
          width: 160px;
          height: 160px;
          right: 0px;
          bottom: 20px;
        }
        @include devices(tablet) {
          width: 120px;
          height: 120px;
          left: 30px;
          top: 30px;
          right: unset;
          bottom: unset;
        }
        @include devices(ssp) {
          left: 20px;
          top: 30px;
          right: unset;
          bottom: unset;
        }

        &:hover {
          transition: all 0.3s ease-in-out;
          color: #01382c !important;
          background: $bgActive !important;
        }
        i {
          left: 50%;
          top: 30%;
          transform: translate(-50%, -50%);
          position: absolute;
          font-size: 50px;
        }
        p {
          left: 50%;
          top: 65%;
          transform: translate(-50%, -50%);
          position: absolute;
          font-size: 16px;
          white-space: nowrap;
        }
      }
    }
    .right {
      opacity: 0;
      position: absolute;
      right: 0;
      height: 400px;
      width: 305px;
      background-image: url("/images/feature/right.svg");
      background-size: 98vw;
      background-size: contain;
      background-position: top center;
      background-repeat: no-repeat;

      @include devices(medium) {
        height: 305px;
        // border: 3px solid black;
        right: -4%;
        top: 0;
      }

      @include devices(spc) {
        height: 276px;
        width: 231px;
        right: -15%;
        top: 13px;
      }
      @include devices(tablet) {
        background: none;
        height: 120px;
        width: 120px;
        right: 0px;
      }
      .rightContent {
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        position: absolute;
        color: white;
        font-size: 20px;
        background: #01382c;
        width: 180px;
        height: 180px;
        border-radius: 20px;
        left: 65%;
        top: 53%;
        transform: translate(-50%, -50%);
        @include devices(medium) {
          width: 150px;
          height: 150px;
          top: 60%;
        }
        @include devices(spc) {
          width: 150px;
          height: 150px;
          left: 62%;
          top: 57%;
        }
        @include devices(tablet) {
          width: 120px;
          height: 120px;
          left: unset;
          bottom: unset;
          right: 0px;
          top: 90px;
          white-space: nowrap;
          left: 16%;
          top: 71%;
          transform: translate(-50%, -50%);
        }
        @include devices(ssp) {
          right: -30px;
        }
        &:hover {
          transition: all 0.3s ease-in-out;
          color: #01382c !important;
          background: $bgActive !important;
        }
        i {
          left: 50%;
          top: 30%;
          transform: translate(-50%, -50%);
          position: absolute;
          font-size: 50px;
        }
        p {
          left: 50%;
          top: 65%;
          transform: translate(-50%, -50%);
          position: absolute;
          font-size: 16px;
        }
      }
    }

    .left {
      opacity: 0;
      position: absolute;
      left: 157px;
      bottom: -140px;
      height: 400px;
      width: 305px;
      background-image: url("/images/feature/leftbg.svg");
      background-size: 98vw;
      background-size: contain;
      background-position: top center;
      background-repeat: no-repeat;

      @include devices(medium) {
        left: -20px;
        bottom: -110px;
        // border: 1px solid red;
      }
      @include devices(spc) {
        left: -30px;
        bottom: -110px;
      }
      @include devices(tablet) {
        background: none;
        top: 260px;
        left: 56px;
        bottom: unset;
        height: 120px;
        width: 120px;
      }
      .leftContent {
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        position: absolute;
        color: white;
        font-size: 20px;
        background: #01382c;
        width: 180px;
        height: 180px;

        border-radius: 20px;
        left: 34%;
        bottom: 0;
        transform: translate(-50%, -50%);
        @include devices(spc) {
          width: 160px;
          height: 160px;
          bottom: 20px;
        }
        @include devices(tablet) {
          width: 120px;
          height: 120px;
        }
        @include devices(ssp) {
          left: 20px;
        }
        &:hover {
          transition: all 0.3s ease-in-out;
          color: #01382c !important;
          background: $bgActive !important;
        }
        i {
          left: 50%;
          top: 30%;
          transform: translate(-50%, -50%);
          position: absolute;
          font-size: 50px;
        }
        p {
          left: 50%;
          top: 65%;
          transform: translate(-50%, -50%);
          position: absolute;
          font-size: 16px;
        }
      }
    }

    .bottomRight {
      opacity: 0;
      position: absolute;
      right: 162px;
      bottom: -233px;
      height: 330px;
      width: 360px;
      background-image: url("/images/feature/bottomright.svg");
      background-size: 98vw 400px;
      background-size: contain;
      background-position: top center;
      background-repeat: no-repeat;
      // border: 3px solid black;
      @include devices(medium) {
        // border: 3px solid black;
        height: 280px;
        width: 300px;
        right: 30px;
        bottom: -130px;
      }
      @include devices(spc) {
        height: 280px;
        width: 300px;
        right: 0;
        bottom: -130px;
      }
      @include devices(tablet) {
        height: 120px;
        width: 120px;
        right: 40px;
        top: 240px;
        bottom: unset;
        background: none;
      }
      .bottomRightContent {
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        position: absolute;
        color: white;
        font-size: 20px;
        background: #01382c;
        width: 180px;
        height: 180px;
        border-radius: 20px;
        right: 20px;
        bottom: 60px;
        @include devices(medium) {
          width: 160px;
          height: 160px;
          right: 10px;
        }
        @include devices(spc) {
          width: 160px;
          height: 160px;
          right: 10px;
        }
        @include devices(tablet) {
          width: 120px;
          height: 120px;
          right: unset;
        }
        @include devices(ssp) {
          right: -20px;
        }
        &:hover {
          transition: all 0.3s ease-in-out;
          color: #01382c !important;
          background: $bgActive !important;
        }
        i {
          left: 50%;
          top: 30%;
          transform: translate(-50%, -50%);
          position: absolute;
          font-size: 50px;
        }
        p {
          left: 50%;
          top: 65%;
          transform: translate(-50%, -50%);
          position: absolute;
          font-size: 16px;
          text-align: center;
          line-height: 25px;
        }
      }
    }
  }

  .activeMenu {
    transition: all 0.3s ease-in-out;
    color: #01382c !important;
    background: $bgActive !important;
  }

  .featureDate {
    opacity: 0;
    position: absolute;
    // border: 1px solid red;
    z-index: 3;
    top: 180px;
    left: 36%;
    font-size: 16px;
    color: white;
    @include devices(tablet) {
      top: 460px;
      left: 20px;
    }
  }

  .featureHeading {
    opacity: 0;
    position: absolute;
    // border: 1px solid red;
    z-index: 3;
    top: 230px;
    left: 36%;
    font-size: 24px;
    color: white;
    @include devices(tablet) {
      top: 460px;
      left: 30px;
    }
  }
  .committeeList {
    opacity: 0;
    position: absolute;
    // border: 1px solid red;
    z-index: 4;
    top: 280px;
    left: 36%;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 40%;
    @include devices(tablet) {
      top: 520px;
      left: 30px;
      width: 80%;
    }
    li {
      background-color: white;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      border-radius: 6px;
      a {
        text-decoration: none;
        color: $bgSecondary;
        padding: 10px 20px 6px;
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 14px;
      }
    }
  }

  .featureTitle {
    opacity: 0;
    position: absolute;
    // border: 1px solid red;
    z-index: 4;
    top: 210px;
    left: 36%;
    font-size: 22px;
    color: white;
    @include devices(tablet) {
      top: 490px;
      left: 20px;
    }
  }
  .featureDescription {
    opacity: 0;
    position: absolute;
    // border: 1px solid red;
    z-index: 4;
    top: 260px;
    left: 36%;
    font-size: 15px;
    line-height: 1.8;
    color: white;
    max-width: 40%;
    text-align: justify;
    line-height: 24px;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
    @include devices(tablet) {
      top: 560px;
      left: 20px;
      max-width: 85%;
    }
  }
  .featureReadMore {
    opacity: 0;
    color: white;
    font-size: 15px;
    position: absolute;
    left: 36%;
    top: 540px;
    background: #01382c;
    padding: 5px 15px;
    border-radius: 4px;
    a {
      cursor: pointer;
      text-decoration: none;
      color: white;
    }
    @include devices(tablet) {
      bottom: 200px;
      left: 20px;
      top: unset;
    }
  }
}
.featureDateAm {
  animation: innerBgAm 0.3s ease-in forwards;
  animation-delay: 1.1s;
}
.featureTitleAm {
  animation: innerBgAm 0.3s ease-in forwards;
  animation-delay: 1.4s;
}
.featureDescriptionAm {
  animation: innerBgAm 0.3s ease-in forwards;
  animation-delay: 1.6s;
}
.featureReadMore {
  animation: innerBgAm 0.3s ease-in forwards;
  animation-delay: 1.9s;
}
.startAnimationLeftTop {
  animation: leftTopAM 0.6s ease-in forwards;
  animation-delay: 1s;
}
.startAnimation {
  animation: innerBgAm 0.6s ease-in forwards;
  animation-delay: 0.4s;
}
.startAnimationRight {
  animation: rightAm 0.6s ease-in forwards;
  animation-delay: 0.6s;
}

.startAnimationLeft {
  animation: lefttAm 0.6s ease-in forwards;
  animation-delay: 0.8s;
}
.startAnimationbottomRight {
  animation: rightBottomAm 0.6s ease-in forwards;
  animation-delay: 0.98s;
}
@keyframes innerBgAm {
  0% {
    opacity: 0;
    // width: 1%;
    transform: scale(0.7, 0.7);
  }

  100% {
    opacity: 1;
    // width: 90%;
    transform: scale(1, 1);
  }
}

@keyframes rightAm {
  0% {
    opacity: 0;
    z-index: -1;
  }

  100% {
    opacity: 1;
    z-index: 1;
  }
}

@keyframes lefttAm {
  0% {
    //  left: 400px;
    opacity: 0;
    z-index: -1;
  }

  100% {
    //  left: 157px;
    opacity: 1;
    z-index: 1;
  }
}

@keyframes rightBottomAm {
  0% {
    right: 300px;
    bottom: 100px;
    opacity: 0;
    z-index: -1;
  }

  100% {
    opacity: 1;
    z-index: 1;
  }
}
@keyframes leftTopAM {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    z-index: 1;
  }
}
