$leftMenuWidth: 28vw;
$rightMenuWidth: 28vw;
$homeTitleWidth: 44vw;
$bottomLeftMenu: 10vw;
$bottomRightWidth: 22vw;
$bgPrimary: #094e3b;
$bgSecondary: #032019;
$bgStory : #D4FFE8;
$colorPrimary:#094e3b;
$colorHover: #004737;
$colorSecondary: #004737;




$height: 70px;
$bottomHeight: 120px;

// animation duration

$animationDuration: 1s;
$animationDelay: 1s;

$containerWidth : 90vw;